#isochroneTable {
    width: 100%; /* La tabla ocupará todo el ancho disponible */
    height: 100vh;
    border-collapse: collapse;
    overflow-y: auto;
    display: block; /* Cambiado a block para permitir que la tabla sea flexible */
}

#isochroneTable th,
#isochroneTable td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
    word-wrap: break-word; /* Para que las celdas se ajusten y no se desborden */
    max-width: 200px; /* Máximo ancho para las celdas */
    text-overflow: ellipsis; /* Si el texto es largo, se agregará un "..." */
    white-space: nowrap; /* Impide que el texto se divida en varias líneas */
}

#isochroneTable thead {
    background-color: #f4f4f4;
    position: sticky;
    top: 0;
    z-index: 1;
}

#isochroneTable tbody {
    display: block;
    max-height: 90vh; /* Altura máxima de la tabla, permitiendo desplazamiento */
    overflow-y: auto;
}

#isochroneTable th {
    font-weight: bold;
}
